Notebook para limpeza dos dados

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("ocorrencia_2010_2020.csv", sep=";", parse_dates = ["ocorrencia_dia"], dayfirst = True)
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
...,...,...,...,...,...,...,...,...,...
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,0
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,****,2020-12-30,18:30:00,0
5749,79802,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,****,2020-12-31,09:00:00,0
5751,79844,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,0

Localização de um dado desejado por linha e coluna:

In [3]:
df.loc[1,'ocorrencia_cidade']

'BELÉM'

In [6]:
df.loc[0:3]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0

Mostra os dados da linha 10 e da linha 40:
df.loc[[10,40]]

Mostra todos os dados da coluna 'ocorrencia_cidade':
df.loc[:,'ocorrencia_cidade']

Verifica se a coluna tem valores únicos:

In [7]:
df.codigo_ocorrencia.is_unique

True

Definindo a coluna como label do dataframe nesse momento(não é alteração no dataframe inteiro):
df.set_index('codigo_ocorrencia')

Alterando o label no dataframe:

In [11]:
df.set_index('codigo_ocorrencia',inplace=True)

In [12]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,
40211,40211,INCIDENTE,RJ,****,2010-01-03,12:00:00,0
40349,40349,INCIDENTE,PA,SBBE,2010-01-03,11:05:00,0
40351,40351,INCIDENTE,RJ,SBRJ,2010-01-03,03:00:00,0
39527,39527,ACIDENTE,MT,****,2010-01-04,17:30:00,0
40324,40324,INCIDENTE,RS,SBPK,2010-01-05,19:25:00,0

Buscando os dados pelo novo label:

In [13]:
df.loc[40211]

codigo_ocorrencia2                        40211
ocorrencia_classificacao              INCIDENTE
ocorrencia_uf                                RJ
ocorrencia_aerodromo                       ****
ocorrencia_dia              2010-01-03 00:00:00
ocorrencia_hora                        12:00:00
total_recomendacoes                           0
Name: 40211, dtype: object

Resetando o label do dataframe para o original:

In [14]:
df.reset_index(drop=True, inplace=True)

In [15]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RJ,****,2010-01-03,12:00:00,0
1,40349,INCIDENTE,PA,SBBE,2010-01-03,11:05:00,0
2,40351,INCIDENTE,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,ACIDENTE,MT,****,2010-01-04,17:30:00,0
4,40324,INCIDENTE,RS,SBPK,2010-01-05,19:25:00,0

Altera valor da linha 0 e coluna 'ocorrencia_aerodromo' para vazio:

In [16]:
df.loc[0,'ocorrencia_aerodromo'] = ''

In [17]:
df.head(1)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RJ,,2010-01-03,12:00:00,0

Altera todos os valores da linha 1 para 20:
df.loc[1] = 20

Altera todos os valores da coluna 'total_recomendacoes' para 10:
df.loc[:,'total_recomendacoes'] = 10

Fazendo o backup de uma coluna antes de alterá-la, ou seja, criando uma nova:
df['ocorrencia_uf_bkp'] = df.ocorrencia_uf

Alterando para 'GRAVE' o valor da coluna 'ocorrencia_classificacao' onde a 'ocorrencia_uf' seja 'SP' (usando filtro):
df.loc[df.ocorrencia_uf == 'SP', ['ocorrencia_classificacao']] = 'GRAVE'

Filtrando os dados onde 'ocorrencia_uf' seja igual a 'SP':
df.loc[df.ocorrencia_uf == 'SP']

Dados para limpeza

ocorrencia_uf: 
**

ocorrencia_aerodromo:
****
*****
###!
####

ocorrencia_hora:
NULL

Alterando o valor da célula onde tem '****' da coluna ocorrencia_aerodromo usando a forma de atribuir valores não informados pelo próprio pandas. Dessa forma, teria que alterar para cada símbolo, o que é trabalhoso.

In [18]:
df.loc[df.ocorrencia_aerodromo == '****', ['ocorrencia_aerodromo']] = pd.NA

In [21]:
df.replace(['**', '****', '*****', '###!', '####', 'NULL', ''], pd.NA, inplace=True)

In [22]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RJ,<NA>,2010-01-03,12:00:00,0
1,40349,INCIDENTE,PA,SBBE,2010-01-03,11:05:00,0
2,40351,INCIDENTE,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,ACIDENTE,MT,<NA>,2010-01-04,17:30:00,0
4,40324,INCIDENTE,RS,SBPK,2010-01-05,19:25:00,0
...,...,...,...,...,...,...,...
5747,79804,INCIDENTE,SP,SBKP,2020-12-29,19:00:00,0
5748,79757,INCIDENTE GRAVE,TO,<NA>,2020-12-30,18:30:00,0
5749,79802,INCIDENTE,RJ,SBGL,2020-12-30,00:54:00,0
5750,79756,INCIDENTE GRAVE,MS,<NA>,2020-12-31,09:00:00,0
5751,79844,INCIDENTE,RJ,SBJR,2020-12-31,13:24:00,0

Soma os valores que sejam do tipo NA, não informado:

In [23]:
df.isna().sum()

codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_uf                  1
ocorrencia_aerodromo        2349
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

Cria coluna de backup:

In [35]:
df['total_recomendacoes_bkp'] = df.total_recomendacoes

In [36]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,total_recomendacoes_bkp
0,40211,INCIDENTE,RJ,<NA>,2010-01-03,12:00:00,0,0
1,40349,INCIDENTE,PA,SBBE,2010-01-03,11:05:00,0,0
2,40351,INCIDENTE,RJ,SBRJ,2010-01-03,03:00:00,0,0
3,39527,ACIDENTE,MT,<NA>,2010-01-04,17:30:00,0,0
4,40324,INCIDENTE,RS,SBPK,2010-01-05,19:25:00,0,0
...,...,...,...,...,...,...,...,...
5747,79804,INCIDENTE,SP,SBKP,2020-12-29,19:00:00,0,0
5748,79757,INCIDENTE GRAVE,TO,<NA>,2020-12-30,18:30:00,0,0
5749,79802,INCIDENTE,RJ,SBGL,2020-12-30,00:54:00,0,0
5750,79756,INCIDENTE GRAVE,MS,<NA>,2020-12-31,09:00:00,0,0
5751,79844,INCIDENTE,RJ,SBJR,2020-12-31,13:24:00,0,0

Deletando a coluna criada anteriormente do dataframe:

In [37]:
df.drop(['total_recomendacoes_bkp'],axis=1, inplace=True)

Deletando todas as linhas que tenham valor NA do dataframe nesse instante (não substitui no dataframe):

In [40]:
df.dropna()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1,40349,INCIDENTE,PA,SBBE,2010-01-03,11:05:00,0
2,40351,INCIDENTE,RJ,SBRJ,2010-01-03,03:00:00,0
4,40324,INCIDENTE,RS,SBPK,2010-01-05,19:25:00,0
6,40215,INCIDENTE,AM,SBUY,2010-01-07,18:40:00,0
8,39156,INCIDENTE GRAVE,PR,SBCA,2010-01-10,23:15:00,2
...,...,...,...,...,...,...,...
5743,79824,ACIDENTE,MG,SNRP,2020-12-28,17:00:00,0
5746,79769,INCIDENTE GRAVE,AC,SIMB,2020-12-29,18:30:00,0
5747,79804,INCIDENTE,SP,SBKP,2020-12-29,19:00:00,0
5749,79802,INCIDENTE,RJ,SBGL,2020-12-30,00:54:00,0
5751,79844,INCIDENTE,RJ,SBJR,2020-12-31,13:24:00,0

In [41]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RJ,<NA>,2010-01-03,12:00:00,0
1,40349,INCIDENTE,PA,SBBE,2010-01-03,11:05:00,0
2,40351,INCIDENTE,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,ACIDENTE,MT,<NA>,2010-01-04,17:30:00,0
4,40324,INCIDENTE,RS,SBPK,2010-01-05,19:25:00,0
...,...,...,...,...,...,...,...
5747,79804,INCIDENTE,SP,SBKP,2020-12-29,19:00:00,0
5748,79757,INCIDENTE GRAVE,TO,<NA>,2020-12-30,18:30:00,0
5749,79802,INCIDENTE,RJ,SBGL,2020-12-30,00:54:00,0
5750,79756,INCIDENTE GRAVE,MS,<NA>,2020-12-31,09:00:00,0
5751,79844,INCIDENTE,RJ,SBJR,2020-12-31,13:24:00,0